In [ ]:
# 1

!pip install numpy==1.26.4
import pandas as pd
import numpy as np

Requirement already satisfied: numpy==1.26.4 in c:\users\lenovo\anaconda3\lib\site-packages (1.26.4)

In [3]:
df = pd.read_csv("C:/Users/Lenovo/Desktop/VSC1/dsbda-gr-a/DSBDA-yash/dataset/Iris.csv")

In [5]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [9]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
df.tail(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [13]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [17]:
df.shape

(150, 6)

In [23]:
df['Species'] = df['Species'].astype('category')

In [25]:
df.dtypes

Id                  int64
SepalLengthCm     float64
SepalWidthCm      float64
PetalLengthCm     float64
PetalWidthCm      float64
Species          category
dtype: object

In [27]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Species-encoded'] = le.fit_transform(df['Species'])

In [29]:
label_mapper = dict(zip(le.classes_,le.transform(le.classes_)))
label_mapper

{'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}

In [49]:
df[['Species', 'Species-encoded']].head()

       Species  Species-encoded
0  Iris-setosa                0
1  Iris-setosa                0
2  Iris-setosa                0
3  Iris-setosa                0
4  Iris-setosa                0

In [51]:
df[['Species', 'Species-encoded']].tail(53)

             Species  Species-encoded
97   Iris-versicolor                1
98   Iris-versicolor                1
99   Iris-versicolor                1
100   Iris-virginica                2
101   Iris-virginica                2
102   Iris-virginica                2
103   Iris-virginica                2
104   Iris-virginica                2
105   Iris-virginica                2
106   Iris-virginica                2
107   Iris-virginica                2
108   Iris-virginica                2
109   Iris-virginica                2
110   Iris-virginica                2
111   Iris-virginica                2
112   Iris-virginica                2
113   Iris-virginica                2
114   Iris-virginica                2
115   Iris-virginica                2
116   Iris-virginica                2
117   Iris-virginica                2
118   Iris-virginica                2
119   Iris-virginica                2
120   Iris-virginica                2
121   Iris-virginica                2
122   Iris-virginica                2
123   Iris-virginica                2
124   Iris-virginica                2
125   Iris-virginica                2
126   Iris-virginica                2
127   Iris-virginica                2
128   Iris-virginica                2
129   Iris-virginica                2
130   Iris-virginica                2
131   Iris-virginica                2
132   Iris-virginica                2
133   Iris-virginica                2
134   Iris-virginica                2
135   Iris-virginica                2
136   Iris-virginica                2
137   Iris-virginica                2
138   Iris-virginica                2
139   Iris-virginica                2
140   Iris-virginica                2
141   Iris-virginica                2
142   Iris-virginica                2
143   Iris-virginica                2
144   Iris-virginica                2
145   Iris-virginica                2
146   Iris-virginica                2
147   Iris-virginica                2
148   Iris-virginica                2
149   Iris-virginica                2

In [41]:
le.classes_

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [57]:
label_mapper = (zip(le.classes_,le.transform(le.classes_)))

In [59]:
le.classes_

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [65]:
dict(label_mapper)

{'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}

In [67]:
le.classes_

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)